<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.arcoirislabs.plugin.mqtt"
      version="0.1.0">
    <name>MqTT</name>
    <description>Cordova MqTT Plugin from Arcoiris Labs</description>
    <license>Apache 2.0</license>
    <keywords>cordova,phonegap,secure,mqtt</keywords>
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>    
    <js-module src="www/mqtt.js" name="MqTT">
        <clobbers target="window.mqtt" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MqTTPlugin">
                <param name="android-package" value="com.arcoirislabs.plugin.mqtt.MqTTPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/MqTTPlugin.java" target-dir="src/com/arcoirislabs/plugin/mqtt" />
        <source-file src="src/android/Mqtt.java" target-dir="src/com/arcoirislabs/mqttcont" />
        <!--<source-file src="src/android/mqtt-client.jar" target-dir="libs/" />-->
    </platform>
</plugin>