<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mqtt" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaMqTTPlugin</name>
    <description>The new MqTT plugin for Cordova</description>
    <js-module name="CordovaMqTTPlugin" src="www/CordovaMqTTPlugin.js">
        <clobbers target="cordova.plugins.CordovaMqTTPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaMqTTPlugin">
                <param name="android-package" value="com.arcoirislabs.plugin.mqtt.CordovaMqTTPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <framework src="org.fusesource.mqtt-client:mqtt-client:1.12" />
        <source-file src="src/android/CordovaMqTTPlugin.java" target-dir="src/com/arcoirislabs/plugin/mqtt" />
    </platform>
</plugin>